/* Core Stuff */
@font-face {font-family: 'ManifoldDSA-ExtraBold';src: url('webfonts/ManifoldDSA-ExtraBold.eot');src: url('webfonts/ManifoldDSA-ExtraBold.eot?#iefix') format('embedded-opentype'),url('webfonts/ManifoldDSA-ExtraBold.woff2') format('woff2'),url('webfonts/ManifoldDSA-ExtraBold.woff') format('woff'),url('webfonts/ManifoldDSA-ExtraBold.ttf') format('truetype');}
@font-face {font-family: 'ManifoldDSA-Light';src: url('webfonts/ManifoldDSA-Light.eot');src: url('webfonts/ManifoldDSA-Light.eot?#iefix') format('embedded-opentype'),url('webfonts/ManifoldDSA-Light.woff2') format('woff2'),url('webfonts/ManifoldDSA-Light.woff') format('woff'),url('webfonts/ManifoldDSA-Light.ttf') format('truetype');}
@font-face {font-family: 'ManifoldDSA-Regular';src: url('webfonts/ManifoldDSA-Regular.eot');src: url('webfonts/ManifoldDSA-Regular.eot?#iefix') format('embedded-opentype'),url('webfonts/ManifoldDSA-Regular.woff2') format('woff2'),url('webfonts/ManifoldDSA-Regular.woff') format('woff'),url('webfonts/ManifoldDSA-Regular.ttf') format('truetype');}
header, body, p {font-family: ManifoldDSA-Regular, Helvetica, Tahoma, Sans-Serif;}
h1, h2, h3, h4, h5 {font-family: ManifoldDSA-Light, Helvetica, Tahoma, Sans-Serif;}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.7;
    color: #606d6e;
}

a {
    color: #1F8CD6;
    text-decoration: none;
}

a:hover {
    color: #175E91;
}

.body a {
	color: #ec1f27;
}

.body a.button {
	color: #fff;
	border-radius: 2em;
	background-color: #ec1f27;
	transition: all 150ms;
}

.body a.button.hollow {
	border: 1px solid #ec1f27;
	color: #ec1f27;
	background-color:transparent;
}

.body a.button:hover, .body a.button.hollow:hover {
	color: #fff;
	border-radius: 2em;
	background-color: #231F20;
	box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    transform: translateY(-2px);
}

pre {
    background: #F0F0F0;
    margin: 1rem 0;
    border-radius: 2px;
}

blockquote {
    border-left: 10px solid #eee;
    margin: 0;
    padding: 0 2rem;
}

/* Utility Classes */
.wrapper {
    margin: 0 3rem;
}

.left {
    float: left;
}

.right {
    float: right
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

/* Content Styling */

.header {
    background-color: #ec1f27;
    color: #eee;
}

.header a {
    color: #fff;
}

.header .logo {
    font-size: 1.7rem;
}

img.logo-mark {
    height: 3rem;
    width: auto;
}

.footer {
    background-color: #eee;
}

.mobile-nav {
	background-color: #ec1f27;
	color: #fff;
}

.top-bar ul {
	background: transparent;
	margin-top: 0.35rem;
}

.menu li a {
	border-radius: 2em;
}

.menu>li>a:hover {
	background-color: #fff;
	color: #ec1f27;
}

.menu>li.selected>a{
	background-color: #231F20;
	color: #fff;
}

.dsa-menu-icon.top-bar-right {
	color: white;
	padding: 0.5rem;
	border-radius: 2rem;
	-webkit-transition: -webkit-transform 0.5s; /* Safari */
    transition: transform 0.5s;
    margin-top: 0.45rem;
}

.dsa-menu-icon.top-bar-right:hover {
	color: white;
	background-color: #231F20;
	-webkit-transform: rotate(-45deg); /* Safari */
    transform: rotate(-45deg);
}

.padding-top {
	padding-top: 3rem;
}

.padding-bottom {
	padding-bottom: 3rem;
}

.footer {
	background-color: #ec1f27;
	color: #fff;
}

.footer a {
	color: #fff;
}

/* Axillary Styles */
.button.button-circle {
	width: 3em;
    height: 3em;
    padding: 1em;
    border-radius: 3rem;
}

/* Blog Styles */
.blog-padding {
	padding: 2rem;
}

.blog-content-list .blog-padding {
	padding: 1rem 2rem;
}

.list-blog-padding.row.blog-padding {
	padding: 1rem;
}