{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'selected' : '' %}
        
            <div class="button-group">
                <a href="{{ p.url }}" class="button dark">
                	{{ p.menu }}
                </a>
            </div>
        
    {% endfor %}
{% endmacro %}