{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}
	
		{% block content %}
			<div class="row">	 
				{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}

				{% if blog_image %}
				<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
				{% else %}
				<div class="blog-header">
				{% endif %}
					{{ page.content }}
				</div>

					{% if config.plugins.breadcrumbs.enabled %}
						{% include 'partials/breadcrumbs.html.twig' %}
					{% endif %}

				<div class="blog-content-list large-8 medium-8 columns">
					<div id="listing" class="block h-feed">
						{% for child in collection %}
					        {% include 'partials/archive_item.html.twig' with {'blog':page, 'page':child, 'truncate':true } %}
					    {% endfor %}

		                {% if config.plugins.pagination.enabled and collection.params.pagination %}
		                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
		                {% endif %}
					</div>
				</div>
				<div id="sidebar" class="large-3 medium-4 columns">
					{% include 'partials/sidebar.html.twig' with {'blog':page} %}
				</div>
			</div>
		{% endblock %}
	
{% endembed %}