{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}
    <div class="row">
    	<div class="medium-6 columns"><h2>Form Placeholder</h2></div>
    	<div class="medium-6 columns">{{ facebook_events() }}</div>
    </div>
{% endblock %}