{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}
    <div class="fb-page" data-href="https://www.facebook.com/seattledsa" data-tabs="events" data-small-header="true" data-adapt-container-width="false" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/seattledsa" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/seattledsa">Seattle Democratic Socialists of America</a></blockquote></div>
{% endblock %}